.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #6dbd50;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.sidebar nav ul li a:hover {
    color: #f0f0f0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #333;
}

.currency-converter {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
}

.exchange {
    margin-bottom: 20px;
}

input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.result {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}


.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.sidebar nav ul li a:hover {
    color: #f0f0f0;
}

footer {
    background-color: #6dbd50;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

/* Стили для основной секции */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.about-us {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.about-us h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.about-us p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
}

.company-image {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-us ul {
    margin-left: 20px;
    font-size: 1.1em;
    color: #555;
}

.about-us ul li {
    margin-bottom: 10px;
}

.about-us h3 {
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sidebar nav ul li a:hover {
    color: #f0f0f0;
}
